/* Embed gurbaniwebthick font */
@font-face {
    font-family: 'GurbaniAkharHeavyRegular';
    src: url('gurakh_h-webfont.svg#GurbaniAkharHeavyRegular') format('svg'),
    url('gurakh_h-webfont.ttf') format('truetype'),
    url('gurakh_h-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input#search {
    font-family: GurbaniAkharHeavyRegular;
}

p.gurmukhi {
    font-family: GurbaniAkharHeavyRegular;
}

div#debug {
    font-size: x-small;
}